<!DOCTYPE html>
<html>
<head>
  <title>TwitterMapping</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=&sensor=false"></script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Store Mapper</a>
          <ul class="nav">
            <li><%= link_to "Browse Stores", stores_path %></li>
            <li><%= link_to "Find Coordinates", "/locater/index" %></li>
            <li><%= link_to "Map Stores", "/map_stores/index" %></li>
            <li><%= link_to "Add Store", "/stores/new" %></li>
            <li><%= link_to "Update Coordinates", "/stores/update_coords" %></li>
          </ul>
        </div>
      </div>
    </div>
 </div>
<div class="container">
      <%= render :partial => 'layouts/messages' %>
		<%= yield %>

</div>

</body>
</html>
