<!DOCTYPE html>
<html>
<head>
  <title>TwitterMapping</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Store Mapper</a>
          <ul class="nav">
            <li><%= link_to "Browse Stores", stores_path %></li>
            <li><%= link_to "Find Coordinates", "/locater/index" %></li>
            <li><%= link_to "Map Stores", "/map_stores/index" %></li>
            <li><%= link_to "Add Store", "/stores/new" %></li>
          </ul>
        </div>
      </div>
    </div>
 </div>
<div class="container">
	<div class="row">
	  <div class="span9">
		<%= yield %>
	  </div>
	</div>
</div>

</body>
</html>
